@import helper._
@(users: List[User], userForms: Form[Users])(implicit request: RequestHeader, messages: Messages)

<div>
@helper.form(routes.UserController.save()) {
    @CSRF.formField
    @for((user, i) <- users.view.zipWithIndex) {
        <tr>
            <td><input name="users[@i].age" type="text" value="@user.age"/></td>
            <td><input name="users[@i].name" type="text" value="@user.name"/></td>
        </tr>
    }

    <button type="submit">update users</button>
}
</div>
